.widget
  .panel.panel-info
    if !error
      .panel-heading
        span.city #{city}, #{country}
        span.icon
          img(src=icon)
        span.description= description

      ul.list-group
        each cond, type in conditions
          li.list-group-item
            span.type= type
            span.cond= cond

    li.list-group-item
      form.form-inline(action='/' method='GET' name='search')
        .form-group
          input.form-control(name='city' placeholder='City')
          button.btn.btn-default(type='submit') Search
          span.help-block.text-danger.hide