doctype html
html
	head
		title= city + ' Weather'
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/main.css')
	body
		block content

		script(src='/scripts/main.js')