body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: inherit; */
}

a {
  color: #00B7FF;
}


span.type {
    text-transform: capitalize;
    margin-right: 6px;
}

span.type:after {
    content: ':';
}

span.cond {
    font-weight: 600;
}

.city {}

.panel-heading .description {
    text-transform: capitalize;
    margin: 0 6px;
}

.panel-heading .icon img {
    height: 3em;
}